Flask==2.3.2
Flask-SQLAlchemy==3.0.5
Flask-Migrate==4.0.3
marshmallow==3.19.0
marshmallow-sqlalchemy==0.29.0
mysql-connector-python==8.1.0
python-dotenv==1.0.0
PyJWT==2.7.0
flask-profiler==1.8.1
PyMySQL==1.0.3
cryptography==41.0.1
